# Git
.git
.gitignore

# Docker
.dockerignore

# Node
**/node_modules
npm-debug.log
yarn-error.log

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
**/env/
**/venv/

# IDE / OS
.idea/
.vscode/
*.swp
*~
.DS_Store