fastapi
uvicorn
sqlalchemy
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart # For OAuth2PasswordRequestForm
psycopg2-binary # For PostgreSQL in production
requests
click
ffmpeg-python
Pillow
google-cloud-tasks
google-cloud-storage
